<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}
    /> <link rel="stylesheet" href={{ url_for('static',
    filename='css/topStyle.css') }} />
    <script src="https://cdn.tailwindcss.com"></script>
    
  </head>
  <body class="bg-gray-50">

    {% include 'header.html' %}
    <div class="displayCategory my-10">
      <h1 class="text-3xl font-bold text-gray-800 mb-5 text-center">Shop by Category!</h1>
      <div class="grid grid-cols-5 items-center justify-center gap-8">
        {% for row in categoryData %}
        <button class="text-center">        
          <a href="/displayCategory?categoryId={{row[0]}}" class=" text-xl font-medium text-gray-600 hover:underline">{{row[1]}}</a>
        </button> 
        {% endfor %}
      </div>
    </div>
      <div class="flex flex-col justify-center items-center">
        <div class="text-center w-full">
          <h2 class="text-3xl font-bold text-gray-800  text-center">All Items</h2>
        </div>
        {% for data in itemData %}
        <div class="grid grid-cols-4 gap-10 py-10">
          <!-- Each product gets a container -->
          {% for row in data %}
          <div class="bg-white rounded-lg shadow">
            <!-- Each row item becomes a flex item -->
            <div class="product-image">
              <a href="/productDescription?productId={{ row[0] }}">
                <img
                  src="{{ url_for('static', filename='uploads/' + row[4]) }}"
                  class="w-60 h-72 rounded-xl"
                />
              </a>
            </div>
            <div class="text-xl p-2">{{ row[1] }}</div>
            <div class="p-2">{{ row[2] }} $</div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- footer -->
    {% include 'footer.html' %}

  </body>
</html>
