<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/auth.css')}}
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50">
    {% include 'header.html' %}

    <div class="flex justify-center items-center min-h-screen">
      <form class="w-[30%]" action="/login" method="POST">
        <input type="checkbox" id="check" />
        <div class="login form">
          <header>Login</header>
          <div action="#">
            <input type="text" name="email" placeholder="Enter your email" />
            <input
              type="password"
              name="password"
              placeholder="Enter your password"
            />
            <a href="#">Forgot password?</a>
            <input type="submit" class="button" />
          </div>
          <div class="signup">
            <span class="signup"
              >Don't have an account?
              <a href="/registerationForm">Signup</a>
            </span>
          </div>
        </div>
        <p class="text-red-500 text-center">{{error}}</p>
      </form>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
