<!DOCTYPE html>
<html>
  <head>
    <title>Product Description</title>
    <link rel="stylesheet" href={{url_for('static',
    filename='css/productDescription.css')}} /> <link rel="stylesheet" href={{
    url_for('static', filename='css/topStyle.css')}} />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50">
    {% include 'header.html' %}
    <div id="display" class="flex flex-col justify-center items-center">
      <div id="productName">
        <h1 class="text-3xl font-bold text-gray-800 mb-5 text-center">{{data[1]}}</h1>
      </div>
      <div
        class="flex flex-col justify-center bg-white items-start my-10 w-2/4 rounded-xl shadow space-y-4 p-6"
      >
        <div class="flex">
          <div>
            <img src={{url_for('static', filename='uploads/'+data[4]) }}
            class="w-72 h-72 rounded-lg"/>
          </div>

          <div id="productDescription">
            <h2 class="text-xl font-bold my-2">Details</h2>
            <table id="descriptionTable">
              <tr>
                <td>Name:</td>
                <td>{{data[1]}}</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>{{data[2]}} $</td>
              </tr>
              <tr>
                <td>Stock:</td>
                <td>{{data[5]}}</td>
              </tr>
            </table>
            <h2>Description:</h2>
            <p>{{data[3]}}</p>
          </div>
        </div>
        <div id="addToCart" class="flex justify-center item-center w-full">
          <a
            href="/addToCart?productId={{request.args.get('productId')}}"
            class="px-6 py-2.5 text-sm font-medium tracking-wider text-white transition-colors duration-300 transform md:w-auto md:mx-4 focus:outline-none bg-gray-800 rounded-lg hover:bg-gray-700 focus:ring focus:ring-gray-300 focus:ring-opacity-80"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
